
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Libro de Reclamaciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        th {
            font-weight: normal;
            padding-right: 60px;
        }

        .field-name {
            font-weight: bold !important;
            vertical-align: top!important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="h2 form-title">
            Resumen final
        </div>
        <table class="">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Información del Reclamante</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="field-name">Doc:</th>
                    <th class="" id="sumDocument">DNI 47707540</th>
                </tr>
                <tr>
                    <th class="field-name">Nombres y apellidos:</th>
                    <th class="text-capitalize" id="sumFullName">Guillermo Billy Arredondo Palomino</th>
                </tr>
                <tr>
                    <th class="field-name">Teléfono:</th>
                    <th class="" id="sumPhoneNumber">935598917</th>
                </tr>
                <tr>
                    <th class="field-name">Respuesta a:</th>
                    <th class="" id="sumAnswerType">Correo electrónico</th>
                </tr>
                <tr>
                    <th class="field-name">Correo electrónico:</th>
                    <th class="text-lowercase" id="sumEMail">billy.arredondo@pucp.pe</th>
                </tr>
                <tr>
                    <th class="field-name">Dirección:</th>
                    <th class="text-capitalize" id="sumFullAddress">Av. Javier Prado Oeste 1562, San Isidro, Lima, Lima</th>
                </tr>
                <tr>
                    <th class="field-name">Mayoría de edad:</th>
                    <th class="" id="sumIsAdult">Sí</th>
                </tr>
            </tbody>
        </table>
        <table class="mt-3">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Identificación del Bien Contratado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="field-name">Tipo:</th>
                    <th class="">Producto</th>
                </tr>
                <tr>
                    <th class="field-name">Monto:</th>
                    <th class="" id="sumClaimedAmount">S/. 90.50</th>
                </tr>
                <tr>
                    <th class="field-name">Descripción:</th>
                    <th class="" id="sumClaimedAmount">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis nobis magnam ducimus et ab esse expedita at nostrum veritatis culpa! Neque dignissimos inventore quaerat eaque ullam nobis quidem earum fugit!
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>