
<div class="text-center">
    <div class="title-text-center">Libro de Reclamaciones</div>
</div>
<!-- Mensajes de Error -->
<div id="errorMessageForm">
    <div></div>
</div>
<!-- Línea de Progreso -->
<div class="progress-container">
    <div class="custom-control custom-radio d-inline progress-point">
        <input type="radio" class="custom-control-input" id="lineProg1" data-type="lineProgress" data-form="personalInfoForm" checked="checked">
        <label class="custom-control-label" for="lineProg1">INFORMACIÓN PERSONAL</label>
        <div class="invalid-feedback">More example invalid feedback text</div>
    </div>
    <div class="custom-control custom-radio d-inline progress-point">
        <input type="radio" class="custom-control-input" id="lineProg2" data-type="lineProgress" data-form="contractedGoodForm">
        <label class="custom-control-label" for="lineProg2">BIEN CONTRATADO</label>
        <div class="invalid-feedback">More example invalid feedback text</div>
    </div>
    <div class="custom-control custom-radio d-inline progress-point">
        <input type="radio" class="custom-control-input" id="lineProg3" data-type="lineProgress" data-form="claimDetailForm">
        <label class="custom-control-label" for="lineProg3">DETALLE DEL RECLAMO</label>
        <div class="invalid-feedback">More example invalid feedback text</div>
    </div>
    <div class="custom-control custom-radio d-inline progress-point">
        <input type="radio" class="custom-control-input" id="lineProg4" data-type="lineProgress" data-form="finalSummaryForm">
        <label class="custom-control-label" for="lineProg4">RESUMEN FINAL</label>
        <div class="invalid-feedback">More example invalid feedback text</div>
    </div>
</div>
<!-- Datos Personales (personalInfoForm) -->
<div id="personalInfoForm" class="form-page">
    <div class="h2 form-title">
        Información del Consumidor Reclamante
    </div>
    <div id="claimerForm" class="form-row align-items-center">
        <!-- Tipo de Documento -->
        <div class="mb-2 col-md-6">
            <label for="selectDocumentType" class="yanbal-label">Tipo de Documento</label>
            <select class="custom-select mr-sm-2"
                    id="selectDocumentType"
                    data-id="documentType"
                    data-for="textDocumentNumber,textClaimerName,textSurnameFather,textSurnameMother,textTelephone,checkIsYounger"
                    data-length="textDocumentNumber"
                    disabled>
                <option selected>Tipo de Documento</option>
            </select>
        </div>
        <!-- Número de Documento -->
        <div class="mb-2 col-md-6">
            <label for="textDocumentNumber" class="yanbal-label">Número de Documento</label>
            <input type="tel" class="form-control" id="textDocumentNumber" placeholder="Número de Documento" disabled>
        </div>
        <!-- Nombres -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Nombres</label>
            <input type="text" class="form-control text-capitalize" id="textClaimerName" placeholder="Nombres" disabled>
        </div>
        <!-- Apellido Paterno -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Apellido Paterno</label>
            <input type="text" class="form-control text-capitalize" id="textSurnameFather" placeholder="Apellido Paterno" disabled>
        </div>
        <!-- Apellido Materno -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Apellido Materno</label>
            <input type="text" class="form-control text-capitalize" id="textSurnameMother" aria-describedby="emailHelp" placeholder="Apellido Materno" disabled>
        </div>
        <!-- Teléfono -->
        <div class="mb-2 col-md-6">
            <label for="textTelephone" class="yanbal-label">Teléfono</label>
            <input type="tel" class="form-control" id="textTelephone" aria-describedby="emailHelp" placeholder="Teléfono" maxlength="9" disabled>
        </div>
        <!-- Tipo de Respuesta -->
        <div class="mb-2 col-md-6">
            <label for="textAnswerType" class="yanbal-label">Tipo de Respuesta</label>
            <select class="custom-select mr-sm-2"
                    id="selectAnswerType"
                    data-id="answerType"
                    data-for="textMail,textAddress,selectDepartment"
                    disabled>
                <option selected>Tipo de Respuesta</option>
            </select>
        </div>
        <!-- Correo electrónico -->
        <div class="mb-2 col-md-6">
            <label for="textMail" class="yanbal-label">Correo Electrónico</label>
            <input type="text" class="form-control text-lowercase" id="textMail" placeholder="Correo electrónico" disabled>
        </div>
        <!-- Dirección -->
        <div class="mb-2 col-md-6">
            <label for="textAddress" class="yanbal-label">Dirección</label>
            <input type="text" class="form-control text-capitalize" id="textAddress" placeholder="Dirección" disabled>
        </div>
        <!-- Departamento -->
        <div class="mb-2 col-md-6">
            <label for="selectDepartment" class="yanbal-label">Departamento</label>
            <select class="custom-select mr-sm-2" id="selectDepartment" disabled>
                <option selected>Departamento</option>
            </select>
        </div>
        <!-- Provincia -->
        <div class="mb-2 col-md-6">
            <label for="selectProvince" class="yanbal-label">Provincia</label>
            <select class="custom-select mr-sm-2" id="selectProvince" disabled>
                <option selected>Provincia</option>
            </select>
        </div>
        <!-- Distrito -->
        <div class="mb-2 col-md-6">
            <label for="selectDistrict" class="yanbal-label">Distrito</label>
            <select class="custom-select mr-sm-2" id="selectDistrict" disabled>
                <option selected>Distrito</option>
            </select>
        </div>
        <!-- No soy mayor -->
        <div class="custom-control custom-checkbox col-md-6 mt-2">
            <input type="checkbox" class="custom-control-input" id="checkIsYounger" disabled>
            <label class="custom-control-label ml-4" for="checkIsYounger">Soy menor de edad</label>
        </div>
    </div>
    <div id="guardForm" class="form-row align-items-center invisible animate__animated not-display">
        <div class="warning-message mt-1">
            <span>(*) Toda comunicación relacionada con el reclamo/queja será enviada a los datos de contacto del Apoderado.</span>
        </div>
        <!-- Tipo de Documento -->
        <div class="mb-2 col-md-6">
            <label for="selectDocumentTypeAp" class="yanbal-label">Tipo de Documento</label>
            <select class="custom-select mr-sm-2"
                    id="selectGuardDocumentType"
                    data-id="documentType"
                    data-for="textGuardDocumentNumber,textGuardClaimerName,textGuardSurnameFather,textGuardSurnameMother,textGuardTelephone"
                    data-length="textGuardDocumentNumber"
                    disabled>
            </select>
        </div>
        <!-- Número de Documento -->
        <div class="mb-2 col-md-6">
            <label for="textGuardDocumentNumber" class="yanbal-label">Número de Documento</label>
            <input type="tel" class="form-control" id="textGuardDocumentNumber" placeholder="Número de Documento" disabled>
        </div>
        <!-- Nombres -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Nombres</label>
            <input type="text" class="form-control text-capitalize" id="textGuardClaimerName" placeholder="Nombres" disabled>
        </div>
        <!-- Apellido Paterno -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Apellido Paterno</label>
            <input type="text" class="form-control text-capitalize" id="textGuardSurnameFather" placeholder="Apellido Paterno" disabled>
        </div>
        <!-- Apellido Materno -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Apellido Materno</label>
            <input type="text" class="form-control text-capitalize" id="textGuardSurnameMother" aria-describedby="emailHelp" placeholder="Apellido Materno" disabled>
        </div>
        <!-- Teléfono -->
        <div class="mb-2 col-md-6">
            <label for="textTelephone" class="yanbal-label">Teléfono</label>
            <input type="tel" class="form-control" id="textGuardTelephone" aria-describedby="emailHelp" placeholder="Teléfono" maxlength="9" disabled>
        </div>
        <!-- Tipo de Respuesta -->
        <div class="mb-2 col-md-6">
            <label for="selectGuardAnswerType" class="yanbal-label">Tipo de Respuesta</label>
            <select class="custom-select mr-sm-2"
                    id="selectGuardAnswerType"
                    data-id="answerType"
                    data-for="textGuardMail,textGuardAddress,selectGuardDepartment,selectGuardProvince,selectGuardDistrict"
                    disabled>
            </select>
        </div>
        <!-- Correo electrónico -->
        <div class="mb-2 col-md-6">
            <label for="textMail" class="yanbal-label">Correo Electrónico</label>
            <input type="text" class="form-control text-lowercase" id="textGuardMail" placeholder="Correo electrónico">
        </div>
        <!-- Dirección -->
        <div class="mb-2 col-md-6">
            <label for="textAddress" class="yanbal-label">Dirección</label>
            <input type="text" class="form-control text-capitalize" id="textGuardAddress" placeholder="Dirección">
        </div>
        <!-- Departamento -->
        <div class="mb-2 col-md-6">
            <label for="selectGuardDepartment" class="yanbal-label">Departamento</label>
            <select class="custom-select mr-sm-2" id="selectGuardDepartment">
                <option selected value="00">Departamento</option>
            </select>
        </div>
        <!-- Provincia -->
        <div class="mb-2 col-md-6">
            <label for="selectGuardProvince" class="yanbal-label">Provincia</label>
            <select disabled class="custom-select mr-sm-2" id="selectGuardProvince">
                <option selected value="00">Provincia</option>
            </select>
        </div>
        <!-- Distrito -->
        <div class="mb-2 col-md-6">
            <label for="selectGuardDistrict" class="yanbal-label">Distrito</label>
            <select disabled class="custom-select mr-sm-2" id="selectGuardDistrict">
                <option selected value="00">Distrito</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div></div>
        <button name="btnContinue" data-parentForm="personalInfoForm" data-nextForm="contractedGoodForm" class="btn btn-primary col-md-6 offset-md-3" disabled>
            Continuar
        </button>
    </div>
</div>
<!-- Bien Contratado (contractedGoodForm) -->
<div id="contractedGoodForm" class="form-page not-display">
    <div class="h2 form-title">
        Identificación del Bien Contratado
    </div>
    <div class="form-row align-items-center">
        <!-- Tipo de Bien Contratado -->
        <div class="col-md-12 input-group">
            <!-- Opción 1: Producto -->
            <div class="custom-control custom-radio col-6">
                <input type="radio" id="checkIsProduct" name="isProductOrService" class="" title="Producto">
                <label for="checkIsProduct" class="">Producto</label>
            </div>
            <!-- Opción 2: Servicio -->
            <div class="custom-control custom-radio">
                <input type="radio" id="checkIsService" name="isProductOrService" class="" title="Servicio">
                <label for="checkIsService" class="">Servicio</label>
            </div>
        </div>
        <!-- Monto Reclamado -->
        <div class="col-md-6">
            <label for="textClaimedAmount" class="yanbal-label">Monto Reclamado</label>
            <input type="tel" class="form-control" id="textClaimedAmount" placeholder="Monto Reclamado (S/.)">
        </div>
        <!-- Descripción -->
        <div class="col-md-6">
            <label for="textDescription" class="yanbal-label">Descripción</label>
            <input type="text" class="form-control" id="textDescription" placeholder="Descripción">
        </div>
    </div>
    <button name="btnContinue" data-parentForm="contractedGoodForm" data-nextForm="claimDetailForm" class="btn btn-primary col-md-6 offset-md-3">
        Continuar
    </button>
</div>
<!-- Detalle del Reclamo (claimDetailForm) -->
<div id="claimDetailForm" class="form-page not-display">
    <div class="h2 form-title">
        Detalle de su reclamo
    </div>
    <div class="form-row align-items-center">
        <div class="col-md-12 input-group">
            <!-- Reclamo -->
            <div class="custom-control custom-radio col-6">
                <input type="radio" id="checkIsClaim" name="isClaimOrComplaint" class="custom-control-input">
                <label class="custom-control-label" for="checkIsClaim">Reclamo</label>
            </div>
            <!-- Queja -->
            <div class="custom-control custom-radio">
                <input type="radio" id="checkIsComplaint" name="isClaimOrComplaint" class="custom-control-input">
                <label class="custom-control-label" for="checkIsComplaint">Queja</label>
            </div>
        </div>
        <!-- Detalle -->
        <div class="col-md-6">
            <label for="textClaimDetail" class="yanbal-label">Detalle</label>
            <input type="text" class="form-control" id="textClaimDetail" placeholder="Detalle">
        </div>
        <!-- Pedido -->
        <div class="col-md-6">
            <label for="textOrderDetail" class="yanbal-label">Pedido</label>
            <input type="text" class="form-control" id="textOrderDetail" placeholder="Pedido">
        </div>
    </div>
    <button name="btnContinue" data-parentForm="claimDetailForm" data-nextForm="finalSummaryForm" class="btn btn-primary col-md-6 offset-md-3">
        Continuar
    </button>
</div>
<!-- Resumen Final (finalSummaryForm) -->
<div id="finalSummaryForm" class="form-page not-display">
    <div class="h2 form-title">
        Resumen final
    </div>
    <!-- Información de Consumidor Reclamante -->
    <div class="text-justify">
        <table class="">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Información del Reclamante</th>
                    <th scope="col" colspan="2" class="display-desktop">Identificación del Bien Contratado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="">Doc:</th>
                    <th class="" id="sumDocument"></th>
                    <th class="display-desktop">Tipo:</th>
                    <th class="display-desktop"></th>
                </tr>
                <tr>
                    <th class="">Nombres y apellidos:</th>
                    <th class="text-capitalize" name="sumFullName"></th>
                    <th class="display-desktop">Monto:</th>
                    <th class="display-desktop" id="sumClaimedAmount"></th>
                </tr>
                <tr>
                    <th class="">Teléfono:</th>
                    <th class="" id="sumPhoneNumber"></th>
                    <th class="display-desktop">Descripción:</th>
                    <th class="display-desktop" id="sumDescription" rowspan="5"></th>
                </tr>
                <tr>
                    <th class="">Respuesta a:</th>
                    <th class="" id="sumAnswerType" name="sumAnswerType"></th>
                </tr>
                <tr>
                    <th class="">Correo electrónico:</th>
                    <th class="text-lowercase" id="sumEMail"></th>
                </tr>
                <tr>
                    <th class="">Dirección:</th>
                    <th class="text-capitalize" id="sumFullAddress"></th>
                </tr>
                <tr>
                    <th class="">Mayoría de edad:</th>
                    <th class="" id="sumIsAdult"></th>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Información del Apoderado -->
    <div class="text-justify">
        <table class="">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Información del Apoderado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="">Doc:</th>
                    <th class="" id="sumGuardDocument"></th>
                </tr>
                <tr>
                    <th class="">Nombres y apellidos:</th>
                    <th class="text-capitalize" id="sumGuardFullName"></th>
                </tr>
                <tr>
                    <th class="">Teléfono:</th>
                    <th class="" id="sumGuardPhoneNumber"></th>
                </tr>
                <tr>
                    <th class="">Respuesta a:</th>
                    <th class="" id="sumGuardAnswerType" name="sumAnswerType"></th>
                </tr>
                <tr>
                    <th class="">Correo electrónico:</th>
                    <th class="text-lowercase" id="sumGuardEMail"></th>
                </tr>
                <tr>
                    <th class="">Dirección:</th>
                    <th class="text-capitalize" id="sumGuardFullAddress"></th>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Identificación del Bien Contratado -->
    <div class="text-justify display-mobile">
        <table class="">
            <thead>
                <tr>
                    <th scope="col" colspan="2" class="display-mobile">Identificación del Bien Contratado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="">Tipo:</th>
                    <th class=""></th>
                </tr>
                <tr>
                    <th class="">Monto:</th>
                    <th class="" id="sumClaimedAmount"></th>
                </tr>
                <tr>
                    <th class="">">Descripción:</th>
                    <th class="" id="sumDescription" rowspan="5"></th>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Confirmación de envío -->
    <div class="form-row">
        <div class="col-auto my-1 w-100">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="checkAgreePersonalInfo">
                <label class="custom-control-label" for="checkAgreePersonalInfo">
                    Al enviar este formulario acepto el flujo transfroterizo de mis datos personales, según la <a href="#">Ley de Protección de Datos Personales</a>
                </label>
            </div>
        </div>
        <div class="col-auto my-1 w-100">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="checkAgreeTerms">
                <label class="custom-control-label" for="checkAgreeTerms">
                    Acepto los <a href="#">Términos y Condiciones</a>
                </label>
            </div>
        </div>
    </div>
    <button id="btnSend" class="btn btn-primary col-md-6 offset-md-3" data-toggle="modal" data-target="#exampleModalCenter">
        Enviar
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reclamo Enviado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Estimado <span name="sumFullName" class="text-capitalize"></span>, su <span name="ClaimOrComplaint">Reclamo</span> se registró correctamente, con Hoja de Reclamación N°<span name="claimSheetNumber">2020-0000</span>.<br />
                Agradecemos su comunicación.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnPdfGenerator" data-value="">Imprimir reclamo</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" asp-append-version="true" src="~/js/main.js"></script>
}

