
<div class="text-center">
    <h1 class="display-4">Libro de Reclamaciones</h1>
</div>
<form>
    <div class="form-row align-items-center">
        <!-- Tipo de Documento -->
        <div class="mb-3 col-md-6">
            <select class="custom-select mr-sm-2" id="selectDocumentType">
            </select>
        </div>
        <!-- Número de Documento -->
        <div class="mb-3 col-md-6">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Número de Documento">
        </div>
        <!-- Nombres -->
        <div class="mb-3 col-md-6">
            <input type="text" class="form-control text-capitalize" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombres">
        </div>
        <!-- Apellido Paterno -->
        <div class="mb-3 col-md-6">
            <input type="text" class="form-control text-capitalize" " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Apellido Paterno">
        </div>
        <!-- Apellido Materno -->
        <div class="mb-3 col-md-6">
            <input type="text" class="form-control text-capitalize" " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Apellido Materno">
        </div>
        <!-- Teléfono -->
        <div class="mb-3 col-md-6">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Teléfono">
        </div>
        <!-- Tipo de Respuesta -->
        <div class="mb-3 col-md-6">
            <select class="custom-select mr-sm-2" id="selectAnswerType">
                <option selected hidden>Tipo de Respuesta</option>
                <option>Correo Electrónico</option>
                <option>Dirección Domiciliaria</option>
            </select>
        </div>
        <!-- Correo electrónico -->
        <div class="mb-3 col-md-6">
            <input type="text" class="form-control text-lowercase" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico">
        </div>
        <!-- Dirección -->
        <div class="mb-3 col-md-6">
            <input type="text" class="form-control text-capitalize" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Dirección">
        </div>
        <!-- Departamento -->
        <div class="mb-3 col-md-6">
            <select class="custom-select mr-sm-2" id="selectDepartment">
                <option selected>Departamento</option>
            </select>
        </div>
        <!-- Provincia -->
        <div class="mb-3 col-md-6">
            <select disabled class="custom-select mr-sm-2" id="selectProvince">
                <option selected>Provincia</option>
            </select>
        </div>
        <!-- Distrito -->
        <div class="mb-3 col-md-6">
            <select disabled class="custom-select mr-sm-2" id="selectDistrict">
                <option selected>Distrito</option>
            </select>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Declaro que no soy mayor de edad (+18 años)</label>
        </div>
    </div>
</form>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript">
    $(document).ready(() => {

        /* Document Types */
        $.ajax({
            type: 'GET',
            url: 'Claims/GetDocumentTypes',
            success(array) {
                let options = printOptionInSelect(null, 'Tipo de Documento');
                for (let elem of array) {
                    options += printOptionInSelect(elem.id, elem.description);
                }
                $('#selectDocumentType').html(options);
            }
        });

        /* Departments */
        $.ajax({
            type: 'GET',
            url: 'Claims/GetDepartments',
            success(array) {
                let options = printOptionInSelect(null, 'Departamento');
                for (let elem of array) {
                    options += printOptionInSelect(elem.code, elem.department);
                }
                $('#selectDepartment').html(options);
            }
        });

        /* Provinces */
        $('#selectDepartment').change(function () {
            $('#selectProvince').val(null);
            $('#selectDistrict').val(null);
            $.ajax({
                type: 'GET',
                url: 'Claims/GetProvinces',
                data: { geoCode: $(this).val() },
                success(array) {
                    let options = printOptionInSelect(null, 'Provincia');
                    for (let elem of array) {
                        options += printOptionInSelect(elem.code, elem.province);
                    }
                    $('#selectProvince').html(options).removeAttr('disabled');
                }
            });
        });

        /* Districts */
        $('#selectProvince').change(function () {
            $.ajax({
                type: 'GET',
                url: 'Claims/GetDistricts',
                data: { geoCode: $(this).val() },
                success(array) {
                    let options = printOptionInSelect(null, 'Distrito');
                    for (let elem of array) {
                        options += printOptionInSelect(elem.code, elem.district);
                        console.log(elem);
                    }
                    $('#selectDistrict').html(options).removeAttr('disabled');
                }
            });
        });
    });
</script>