
<div class="text-center">
    <div class="title-text-center">Libro de Reclamaciones</div>
</div>
<!-- Mensajes de Error -->
<div id="errorMessageForm">
    <div></div>
</div>
<!-- Datos Personales (personalInfoForm) -->
<div id="personalInfoForm" class="form-page">
    <div class="h2 form-title">
        Información del Consumidor Reclamante
    </div>
    <div id="claimerForm" class="form-row align-items-center">
        <!-- Tipo de Documento -->
        <div class="mb-2 col-md-6">
            <label for="selectDocumentType" class="yanbal-label">Tipo de Documento</label>
            <select class="custom-select mr-sm-2" id="selectDocumentType" data-id="documentType">
            </select>
        </div>
        <!-- Número de Documento -->
        <div class="mb-2 col-md-6">
            <label for="textDocumentNumber" class="yanbal-label">Número de Documento</label>
            <input type="tel" class="form-control" id="textDocumentNumber" placeholder="Número de Documento">
        </div>
        <!-- Nombres -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Nombres</label>
            <input type="text" class="form-control text-capitalize" id="textClaimerName" placeholder="Nombres">
        </div>
        <!-- Apellido Paterno -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Apellido Paterno</label>
            <input type="text" class="form-control text-capitalize" id="textSurnameFather" placeholder="Apellido Paterno">
        </div>
        <!-- Apellido Materno -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Apellido Materno</label>
            <input type="text" class="form-control text-capitalize" id="textSurnameMother" aria-describedby="emailHelp" placeholder="Apellido Materno">
        </div>
        <!-- Teléfono -->
        <div class="mb-2 col-md-6">
            <label for="textTelephone" class="yanbal-label">Teléfono</label>
            <input type="tel" class="form-control" id="textTelephone" aria-describedby="emailHelp" placeholder="Teléfono">
        </div>
        <!-- Tipo de Respuesta -->
        <div class="mb-2 col-md-6">
            <label for="textAnswerType" class="yanbal-label">Tipo de Respuesta</label>
            <select class="custom-select mr-sm-2" id="selectAnswerType">
            </select>
        </div>
        <!-- Correo electrónico -->
        <div class="mb-2 col-md-6">
            <label for="textMail" class="yanbal-label">Correo Electrónico</label>
            <input type="text" class="form-control text-lowercase" id="textMail" placeholder="Correo electrónico">
        </div>
        <!-- Dirección -->
        <div class="mb-2 col-md-6">
            <label for="textAddress" class="yanbal-label">Dirección</label>
            <input type="text" class="form-control text-capitalize" id="textAddress" placeholder="Dirección">
        </div>
        <!-- Departamento -->
        <div class="mb-2 col-md-6">
            <label for="selectDepartment" class="yanbal-label">Departamento</label>
            <select class="custom-select mr-sm-2" id="selectDepartment">
                <option selected>Departamento</option>
            </select>
        </div>
        <!-- Provincia --> 
        <div class="mb-2 col-md-6">
            <label for="selectProvince" class="yanbal-label">Provincia</label>
            <select disabled class="custom-select mr-sm-2" id="selectProvince">
                <option selected>Provincia</option>
            </select>
        </div>
        <!-- Distrito -->
        <div class="mb-2 col-md-6">
            <label for="selectDistrict" class="yanbal-label">Distrito</label>
            <select disabled class="custom-select mr-sm-2" id="selectDistrict">
                <option selected>Distrito</option>
            </select>
        </div>
        <!-- No soy mayor -->
        <div class="custom-control custom-checkbox col-md-6 mt-2">
            <input type="checkbox" class="custom-control-input" id="checkIsYounger">
            <label class="custom-control-label ml-4" for="checkIsYounger">Soy menor de edad</label>
        </div>
    </div>
    <div id="guardForm" class="form-row align-items-center invisible animate__animated not-display">
        <div class="warning-message mt-1">
            <span>(*) Toda comunicación relacionada con el reclamo/queja será enviada a los datos de contacto del Apoderado.</span>
        </div>
        <!-- Tipo de Documento -->
        <div class="mb-2 col-md-6">
            <label for="selectDocumentTypeAp" class="yanbal-label">Tipo de Documento</label>
            <select class="custom-select mr-sm-2" id="selectGuardDocumentType" data-id="documentType">
            </select>
        </div>
        <!-- Número de Documento -->
        <div class="mb-2 col-md-6">
            <label for="textGuardDocumentNumber" class="yanbal-label">Número de Documento</label>
            <input type="tel" class="form-control" id="textGuardDocumentNumber" placeholder="Número de Documento">
        </div>
        <!-- Nombres -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Nombres</label>
            <input type="text" class="form-control text-capitalize" id="textGuardClaimerName" placeholder="Nombres">
        </div>
        <!-- Apellido Paterno -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Apellido Paterno</label>
            <input type="text" class="form-control text-capitalize" id="textGuardSurnameFather" placeholder="Apellido Paterno">
        </div>
        <!-- Apellido Materno -->
        <div class="mb-2 col-md-6">
            <label for="textClaimerName" class="yanbal-label">Apellido Materno</label>
            <input type="text" class="form-control text-capitalize" id="textGuardSurnameMother" aria-describedby="emailHelp" placeholder="Apellido Materno">
        </div>
        <!-- Teléfono -->
        <div class="mb-2 col-md-6">
            <label for="textTelephone" class="yanbal-label">Teléfono</label>
            <input type="tel" class="form-control" id="textGuardTelephone" aria-describedby="emailHelp" placeholder="Teléfono">
        </div>
        <!-- Tipo de Respuesta -->
        <div class="mb-2 col-md-6">
            <label for="selectGuardAnswerType" class="yanbal-label">Tipo de Respuesta</label>
            <select class="custom-select mr-sm-2" id="selectGuardAnswerType" disabled>
            </select>
        </div>
        <!-- Correo electrónico -->
        <div class="mb-2 col-md-6">
            <label for="textMail" class="yanbal-label">Correo Electrónico</label>
            <input type="text" class="form-control text-lowercase" id="textGuardMail" placeholder="Correo electrónico">
        </div>
        <!-- Dirección -->
        <div class="mb-2 col-md-6">
            <label for="textAddress" class="yanbal-label">Dirección</label>
            <input type="text" class="form-control text-capitalize" id="textGuardAddress" placeholder="Dirección">
        </div>
        <!-- Departamento -->
        <div class="mb-2 col-md-6">
            <label for="selectGuardDepartment" class="yanbal-label">Departamento</label>
            <select class="custom-select mr-sm-2" id="selectGuardDepartment">
                <option selected value="00">Departamento</option>
            </select>
        </div>
        <!-- Provincia -->
        <div class="mb-2 col-md-6">
            <label for="selectGuardProvince" class="yanbal-label">Provincia</label>
            <select disabled class="custom-select mr-sm-2" id="selectGuardProvince">
                <option selected value="00">Provincia</option>
            </select>
        </div>
        <!-- Distrito -->
        <div class="mb-2 col-md-6">
            <label for="selectGuardDistrict" class="yanbal-label">Distrito</label>
            <select disabled class="custom-select mr-sm-2" id="selectGuardDistrict">
                <option selected value="00">Distrito</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div></div>
        <button name="btnContinue" data-parentForm="personalInfoForm" data-nextForm="contractedGoodForm" class="btn btn-primary col-md-6 offset-md-3">
            Continuar
        </button>
    </div>
</div>
<!-- Bien Contratado (contractedGoodForm) -->
<div id="contractedGoodForm" class="form-page not-display">
    <div class="h2 form-title">
        Identificación del Bien Contratado
    </div>
    <div class="form-row align-items-center">
        <!-- Tipo de Bien Contratado -->
        <div class="col-md-12 input-group">
            <!-- Opción 1: Producto -->
            <div class="custom-control custom-radio col-6">
                <input type="radio" id="checkIsProduct" name="isProductOrService" class="" title="Producto">
                <label for="checkIsProduct" class="">Producto</label>
            </div>
            <!-- Opción 2: Servicio -->
            <div class="custom-control custom-radio">
                <input type="radio" id="checkIsService" name="isProductOrService" class="" title="Servicio">
                <label for="checkIsService" class="">Servicio</label>
            </div>
        </div>
        <!-- Monto Reclamado -->
        <div class="col-md-6">
            <label for="textClaimedAmount" class="yanbal-label">Monto Reclamado</label>
            <input type="tel" class="form-control" id="textClaimedAmount" placeholder="Monto Reclamado (S/.)">
        </div>
        <!-- Descripción -->
        <div class="col-md-6">
            <label for="textDescription" class="yanbal-label">Descripción</label>
            <input type="text" class="form-control" id="textDescription" placeholder="Descripción">
        </div>
    </div>
    <button name="btnContinue" data-parentForm="contractedGoodForm" data-nextForm="claimDetailForm" class="btn btn-primary col-md-6 offset-md-3">
        Continuar
    </button>
</div>
<!-- Detalle del Reclamo (claimDetailForm) -->
<div id="claimDetailForm" class="form-page not-display">
    <div class="h2 form-title">
        Detalle de su reclamo
    </div>
    <div class="form-row align-items-center">
        <div class="col-md-12 input-group">
            <!-- Reclamo -->
            <div class="custom-control custom-radio col-6">
                <input type="radio" id="checkIsClaim" name="isClaimOrComplaint" class="custom-control-input">
                <label class="custom-control-label" for="checkIsClaim">Reclamo</label>
            </div>
            <!-- Queja -->
            <div class="custom-control custom-radio">
                <input type="radio" id="checkIsComplaint" name="isClaimOrComplaint" class="custom-control-input">
                <label class="custom-control-label" for="checkIsComplaint">Queja</label>
            </div>
        </div>
        <!-- Detalle -->
        <div class="col-md-6">
            <label for="textClaimDetail" class="yanbal-label">Detalle</label>
            <input type="text" class="form-control" id="textClaimDetail" placeholder="Detalle">
        </div>
        <!-- Pedido -->
        <div class="col-md-6">
            <label for="textOrderDetail" class="yanbal-label">Pedido</label>
            <input type="text" class="form-control" id="textOrderDetail" placeholder="Pedido">
        </div>
    </div>
    <button name="btnContinue" data-parentForm="claimDetailForm" data-nextForm="finalSummaryForm" class="btn btn-primary col-md-6 offset-md-3">
        Continuar
    </button>
</div>
<!-- Resumen Final (finalSummaryForm) -->
<div id="finalSummaryForm" class="form-page not-display">
    <div class="h2 form-title">
        Resumen final
    </div>
    <div class="form-row">
        <div id="sum_Document"></div>
        <div id="sum_Names"></div>
        <div id="sum_PhoneNumber"></div>
        <div id="sum_EMail"></div>
        <div id="sum_Address"></div>
        <div id="sum_IsAdult"></div>
    </div>
    <!-- No soy mayor -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <label class="custom-control-label" for="checkIsYounger">Al enviar este formulario acepto que el flujo transfronterizo de mis datos personales, según la <a href="#">Ley de Protección de Datos Personales</a></label>
    </div>
    <button id="btnSend" class="btn btn-primary col-md-6 offset-md-3">
        Enviar
    </button>
</div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript">
    $(document).ready(() => {
        /* Document Types */
        $.ajax({
            type: 'GET',
            url: 'Claims/GetDocumentTypes',
            success(array) {
                let options = printOptionInSelect(null, 'Tipo de Documento');
                for (let elem of array) {
                    options += printOptionInSelect(elem.id, elem.description);
                }
                $('[data-id="documentType"]').html(options);
            }
        });

        /* Answer Types */
        $.ajax({
            type: 'GET',
            url: 'Claims/GetAnswerTypes',
            success(array) {
                let options = printOptionInSelect(null, 'Tipo de Respuesta');
                for (let elem of array) {
                    options += printOptionInSelect(elem.id, elem.description);
                }
                $('#selectAnswerType').html(options);
                $('#selectGuardAnswerType').html(options);
            }
        });

        $('#selectAnswerType').change(function () {
            $('#selectGuardAnswerType').val($(this).val());
        });

        /* Departments */
        $.ajax({
            type: 'GET',
            url: 'Claims/GetDepartments',
            success(array) {
                let options = printOptionInSelect(null, 'Departamento');
                for (let elem of array) {
                    options += printOptionInSelect(elem.code, elem.department);
                }
                $('#selectDepartment').html(options);
                $('#selectGuardDepartment').html(options);
            }
        });

        $('#selectDepartment').change(function () {
            changeGeoZone({
                selectSubzone: 'selectDistrict',
                subZoneDefault: 'Distrito',
                ajaxMethod: 'GET',
                url: 'Claims/GetProvinces',
                body: $(this).val(),
                zoneDefault: 'Provincia',
                selectZone: 'selectProvince'
            }, function (elem) {
                return printOptionInSelect(elem.code, elem.province);
            }, { code: null, province: 'Provincia' }, { code: null, province: 'Distrito' })
        });

        /* Provinces */
        $('#selectGuardDepartment').change(function () {
            changeGeoZone({
                selectSubzone: 'selectGuardDistrict',
                subZoneDefault: 'Distrito',
                ajaxMethod: 'GET',
                url: 'Claims/GetProvinces',
                body: $(this).val(),
                zoneDefault: 'Provincia',
                selectZone: 'selectGuardProvince'
            }, function (elem) {
                return printOptionInSelect(elem.code, elem.province);
            }, { code: null, province: 'Provincia' }, { code: null, province: 'Distrito'}
            )
        });

        /* Districts */
        $('#selectProvince').change(function () {
            changeGeoZone({
                selectSubzone: 'selectDistrict',
                subZoneDefault: null,
                ajaxMethod: 'GET',
                url: 'Claims/GetDistricts',
                body: $(this).val(),
                zoneDefault: 'Distrito',
                selectZone: 'selectDistrict'
            }, function (elem) {
                return printOptionInSelect(elem.code, elem.district);
            }, { code: null, district: 'Distrito' }, { code: null, district: null})
        });

        $('#selectGuardProvince').change(function () {
            changeGeoZone({
                selectSubzone: 'selectGuardDistrict',
                subZoneDefault: null,
                ajaxMethod: 'GET',
                url: 'Claims/GetDistricts',
                body: $(this).val(),
                zoneDefault: 'Distrito',
                selectZone: 'selectGuardDistrict'
            }, function (elem) {
                return printOptionInSelect(elem.code, elem.district);
            }, { code: null, district: 'Distrito' }, { code: null, district: null })
        });

        /* Younger */
        $('#checkIsYounger').change(function () {
            let guardForm = $('#guardForm');
            setTimeout(() => {
                guardForm.toggleClass('not-display');
                guardForm.toggleClass('invisible');
                guardForm.addClass('animate__fadeIn');
            }, 200);
            $("html, body").animate({ scrollTop: $(document).height() }, 700);

        });

        /* Continue */
        $('[name="btnContinue"]').click(function () {
            /// (i) Cambio de formulario
            let parentFormName = $(this).attr('data-parentForm');
            let nextFormName = $(this).attr('data-nextForm');

            let validationResult = validateForm(parentFormName);

            if (validationResult.length == 0) {
                $('#' + parentFormName).toggleClass('not-display');
                $('#' + nextFormName).toggleClass('not-display animate__animated animate__fadeIn');
            }

            /// (ii) Muestra de Resumen
            //$('#sum_Document').html($('#'));
            //$('#sum_Names').html($('#'));
            //$('#sum_PhoneNumber').html($('#'));
            //$('#sum_EMail').html($('#'));
            //$('#sum_Address').html($('#'));
            //$('#sum_IsAdult').html($('#'));
        });

        /* Send */
        $('#btnSend').click(sendForm);
    });

    /* Change Department */
    const changeGeoZone = (obj, printerMethod, defaultElem, defaultSubElem) => {

        $(`#${obj.selectSubzone} option`).remove();
        $(`#${obj.selectSubzone}`).attr('disabled', 'disabled');
        $(`#${obj.selectSubzone}`).html(printerMethod(defaultSubElem));
        $.ajax({
            type: obj.ajaxMethod,
            url: obj.url,
            data: { geoCode: obj.body },
            success(array) {
                let options = printerMethod(defaultElem);
                for (let elem of array) {
                    options += printerMethod(elem)
                }
                $(`#${obj.selectZone}`).html(options).removeAttr('disabled');
            }
        });
    }

    /* Validation */
    const validateForm = (nameForm) => {

        let errors = []; return errors;

        switch (nameForm) {
            case 'personalInfoForm':
                // Document Type
                let documentTypeID = $('#selectDocumentType option:selected').val();
                let documentTypeName = $('#selectDocumentType option:selected').text();
                let textDocumentNumber = $('#textDocumentNumber').val();

                if (documentTypeID == null || documentTypeID == 'null') {
                    $('#selectDocumentType').addClass('border-danger');
                    //errors.push({ title: 'DNI' });
                }
                else {
                    $('#selectDocumentType').removeClass('border-danger');
                }

                if (documentTypeName == 'DNI') {
                    if (textDocumentNumber == null || textDocumentNumber.length != 8) {
                        $('#textDocumentNumber').removeClass('border-danger');
                    }
                    // errors.push({ title: 'DNI', message: 'El DNI debe ser numérico y de 8 dígitos' })
                }
                break;
            case 'contractedGoodForm':
                break;
            case 'claimDetailForm':
                break;
            case 'finalSummaryForm':
                break;
            default:
                break;
        }

        return errors;
    }

    /* Sending */
    const sendForm = () => {
        /// (i) Personal Info
        let mainClaimer = {
            documentType: $('#selectDocumentType').val(),
            documentNumber: $('#textDocumentNumber').val(),
            names: $('#textClaimerName').val(),
            paternalSurname: $('#textSurnameFather').val(),
            maternalSurname: $('#textSurnameMother').val(),
            phoneNumber: $('#textTelephone').val(),
            answerType: $('#selectAnswerType option:selected').val(),
            eMail: $('#textMail').val(),
            address: $('#textAddress').val(),
            geoZone: $('#selectDistrict').val()
        };
        let isAdult = !$('#checkIsYounger')[0].checked;
        let guardClaimer = {
            documentType: $('#selectGuardDocumentType').val(),
            documentNumber: $('#textGuardDocumentNumber').val(),
            names: $('#textGuardClaimerName').val(),
            paternalSurname: $('#textGuardSurnameFather').val(),
            maternalSurname: $('#textGuardSurnameMother').val(),
            phoneNumber: $('#textGuardTelephone').val(),
            answerType: $('#selectAnswerType option:selected').val(),
            eMail: $('#textGuardMail').val(),
            address: $('#textGuardAddress').val(),
            geoZone: $('#selectGuardDistrict').val()
        };

        /// (ii) Contracted Good
        let contractedGood = {
            isAProduct: $('#checkIsProduct')[0].checked, // or a service
            claimedAmount: parseInt($('#textClaimedAmount').val()),
            goodDescription: $('#textDescription').val()
        };

        /// (iii) Claim Detail
        let claimDetail = {
            isAClaim: $('#checkIsClaim')[0].checked, // or a complaint (queja)
            claimDetail: $('#textClaimDetail').val(),
            orderDetail: $('#textOrderDetail').val()
        };

        /// Group Information
        let claim = {
            isAdult,
            mainClaimer,
            guardClaimer,
            contractedGood,
            claimDetail
        };

        $.ajax({
            type: 'POST',
            url: 'Claims/SaveClaim',
            data: claim,
            success(array) {
                
            }
        });
    };
</script>