<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/imgs/favicon.png" type="image/png" sizes="16x16">
    <title>Libro de Reclamaciones</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>
    <header>
        <nav class="bg-yanbal navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-brand yanbal-com">yanbal.com</div>
            </div>
        </nav>
    </header>
    <div class="jumbotron">
        <div class="text-center">
            <img src="~/imgs/dark.svg" class="yanbal-logo" alt="Yanbal.com" />
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Yanbal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
